h1 {
    font-family: "Arial";
    font-size:24px;
    font-style:normal;
    color: black;
    align-content:center;
}
h2 {
    font-family: "Arial";
    font-size: 20px;
    font-style: normal;
    color: black;
}
h3 {
    font-family: "Arial";
    font-size: 16px;
    font-style: normal;
    color: black;
}
h4 {
    font-family: "Times New Roman";
    font-size: 24px;
    font-weight:bold;
    font-style: normal;
    color: black;
}
.page{
    width:800px;
    border:1px solid black;
    margin:auto;
    padding:10px;
}
.title{

}
.subtitle{
    font-family:"Times New Roman";
    font-size:18px;
    color:black;
    align-content:center
}
.genre {
    font-family: "Times New Roman";
    font-size: 16px;
    color: black;
    align-content: center
}
.desc {
    font-family: "Times New Roman";
    font-size: 14px;
    color: black;
    width:600px;
    height 200px;
    padding:10px;
}
.charname {
    border:1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    color:blue;
    width:400px;
    padding:10px;
}
.charimg{
    float:left;
    
}
.variables {
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
}
.scenehead{
    width:90%;
    height:30px;
    padding: 5px;
}
.sceneid {
    background-color: lightgreen;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    position:inherit;
    left:10px;
    top:5px;
}

.imp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    position: inherit;
    left: 350px;
    top: 5px;
}
.page {
    background-color: lightblue ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    position: inherit;
    left: 650px;
    top: 5px;
}
.brief {
    font-family: "Arial";
    font-size: 12px;
    color: black;
    padding: 10px;
    text-align: left;
}
.chars {
    font-family: "Arial";
    font-size: 12px;
    color: black;
    padding: 10px;
    text-align: left;
}
.vars {
    font-family: "Arial";
    font-size: 12px;
    color: black;
    padding: 10px;
    text-align: left;
}
.dialogs {
    font-family: "Arial";
    font-size: 12px;
    font-style:italic;
    color: black;
    padding: 10px;
    text-align: left;
}
.logic {
    font-family: "Arial";
    font-size: 12px;
    color: black;
    padding: 10px;
    text-align: left;
}
.ideas {
    font-family: "Arial";
    font-size: 12px;
    color: black;
    padding: 10px;
    text-align: left;
}



